/* Button */
.button, button{
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 19px;
  cursor: grabbing;
  background-color: #d23519;
  color: white;
  border: none;
}

.stDotted{border: dotted rgb(25, 0, 139) 7px; background-color:#44d219}

.stDottedPlus{border: dotted rgb(139, 0, 0) 17px; }

